.fixed { 
    background-image: url('applejax05.github.io/images.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h {
  text-align: center;
  position: relative;
  color: white;
  font-size: 450%;
}
h2 {
	color:white;
	font-family: helvetica
}

