.fixed { 
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTB-ayVZiJgbxNzIVV78C4HkNnnf666Jcze1l-RH-BesvXOBEM6');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h {
  text-align: center;
  position: relative;
  color: white;
  font-size: 450%;
}
h2 {
	color:white;
	font-family: helvetica
}

